<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>

<title>EXAMEN</title>
</head>
<body>

<h1>Suma y Resta 2 numeros</h1>
<h2 id="n1";value="5000">5000 </h2>
<h2 id="n2";value="3000">3000 </h2>
<button type="button" onclick="Suma();">Sumar</button>
<button type="button" onclick="Resta();">Restar</button>
<h2 style="background-color:#A9A9F5;color:#FFFFFF>;"><b>La respuesta es:</h> <h id="respuesta"</b></h2>

</body>
</html>
